<p>The player name is <%=@player1%></p>
<br>

<form action='/maingame_1' method="get">
  <input type="radio" name="choice" value="rock" id="rock">rock<br>
  <input type="radio" name="choice" value="paper">paper<br>
  <input type="radio" name="choice" value="scissors">scissors<br>
  <br>
  <input type="submit" value="Rock, Paper, Scissors - Fight!">
</form>
