<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Rock Paper Scissors</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <section class="navbar-wrapper">
    <section class="container">

      <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <section class="container">
          <section class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">

              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project Rock Paper Scissors</a>
          </section>
        </section>
      </section>

    </section>
  </section>
  <br><br><br><br>

  <!-- Carousel
  ================================================== -->
  <section id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->

      <section class="item active">

        <section class="container">

          <section class="carousel-caption">
            <h1>How to Play Rock Paper Scissors</h1>
            <p>Basic Rules</p>
            <ol>Rock beats Scissors</ol>
            <ol>Scissors beats Paper</ol>
            <ol>Paper beats Rock</ol>
          </section>
        </section>
      </section>
    </section>

    <section class="container marketing">

      <!-- Three columns of text below the carousel -->
      <section class="row">
        <section class="col-lg-4">
          <img class="img-circle"
          src="/images/rock.png"
          alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Rock</h2>
        </section><!-- /.col-lg-4 -->
        <section class="col-lg-4">
          <img class="img-circle" src="/images/paper.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Paper</h2>
        </section><!-- /.col-lg-4 -->
        <section class="col-lg-4">
          <img class="img-circle" src="/images/scissors.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Scissors</h2>
        </section><!-- /.col-lg-4 -->
      </section><!-- /.row -->
    </section>


  <!-- /.carousel -->
  <section> <%= yield %></section>

</body>
</html>
